<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About Me
                <small>Some Info</small>
            </h1>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="images/photo1.jpg" >I Apologize for the lack of decent photos :(</img>
        </div>
        <div class="col-md-6">
            <h2>{{descriptionTitle}}</h2>

            <p>Heyo, I'm Colin Gidzinski!</p>
            Info about me:
            <tr>
            <li>Im currently in my 3rd year of Univeristy at Wilfrid Laurier University.
            <li>My backround is Polish. 
            <li>I love to learn new things in my free time. Some of the things i've taught myself are: Fishing, Cooking, Sewing, Knitting, Crocheing, Electronics, Programming, Snowboarding, Computerbuilding, and many more.
            <li>I'm always ready for new challenges and new experiences in life.
            <li>I'm enjoy working with people and am the Captain of the WLU Phi Intermural Soccer Team.
            <li>I'm an avid PC gamer enjoy games such as: CS:GO/CS:S, EVE Online, Minecraft, Garry's mod, Supreme Commander, Homeworld, and the S.T.A.L.K.E.R Series.
                <li> Dark beer's and aged whiskeys are nice.
                    <li> My resume can be found <a href="http://evg31337.com/files/Resume.docx">here</a>
        <tr>
        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">
<!-- 
        <div class="col-lg-12">
            <h2 class="page-header">Me Amigos</h2>
        </div>



                <div class="col-sm-4" ng-repeat="item in friends">
            <img class="img-responsive" src="{{item.image}}">

            <h3>{{item.name}}
                <small>{{item.company}}</small>
            </h3>
            <p>{{item.description}}</p>
            <p><a href="{{item.website}}" class="btn btn-primary" role="button">Website</a></p>
        </div>

       
 -->

        

    </div>

</div>
<!-- /.container -->
