<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Contact
                <small>Me</small>
            </h1>
          
        </div>

   

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-8">
            <p> If you wish to get in touch with me by either email or LinkedIn <br>
                Sorry email is an image to prevent spam :( </p>
  <!--           <h3>Let's Get In Touch!</h3>

            <p>HAHAHAHA No.</p>

            <form role="form" method="POST" action="">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="input1">Name</label>
                        <input type="text" name="contact_name" class="form-control" id="input1">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input2">Email Address</label>
                        <input type="email" name="contact_email" class="form-control" id="input2">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input3">Phone Number</label>
                        <input type="phone" name="contact_phone" class="form-control" id="input3">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input4">Message</label>
                        <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form> -->
        </div>

        <div class="col-sm-4">
            <h3>Colin Gidzinski</h3>
            <h4>Computing and Computer Electronics</h4>

            <p>
                Guelph, Ontario <br> and <br>
                Waterloo, Ontario<br>
            </p>

            <p></i> <abbr title="Email">Email</abbr>: <img src ="images/email.png"></img>
                <small></small></p>

<p></i> <abbr title="LinkedIn">LinkedIn</abbr>: <a href ="https://www.linkedin.com/pub/colin-gidzinski/97/480/230">LinkedIn</a>
                </p>

                
        </div>

    </div>
   

</div>