<ion-view view-title="Add Item">
    <ion-content>
      <br>
<div class="button-bar">
  <a class="button" ng-init="unitshow=true;ruleshow=false;weaponshow=false" ng-click="unitshow=true;ruleshow=false;weaponshow=false">Units</a>
  <a class="button" ng-click="unitshow=false;ruleshow=true;weaponshow=false">Rules</a>
  <a class="button" ng-click="unitshow=false;ruleshow=false;weaponshow=true">Weapons</a>
</div>


<div class="card"ng-show="unitshow">
  <div class="item item-divider">
    Units
  </div>
 <label class="item item-input"> <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="filters.name" placeholder="Search"> </label>
        <label class="item item-input item-select">
            <div class="input-label"> Race </div>
            <select ng-model="filters.race">
                <option selected="selected" value=''>All</option>
                <option>Necron</option>
                <option>Blood Angel</option>
                <option>Black Templars</option>
            </select>
        </label>
  <div class="item item-text-wrap">
<div class="list">
  <div class="item item-button-right"  ng-repeat="unit in units | filter:filters | orderBy:'name':!reverse">
                <p>[ {{unit.race}} ] - {{unit.name}}</p>
    <button class="button button-positive" ng-click="UnitDelete(unit._id);remove(unit, $index)">X<i class="icon ion-ios-telephone"></i></button>
  </div>

  

</div>


  </div>
  <div class="item item-divider">
    I'm a Footer in a Card!
  </div>
</div>

<div class="card"ng-show="ruleshow">
  <div class="item item-divider">
    Rules
  </div>
  <div class="item item-text-wrap">
    This is a basic Card with some text.
  </div>
  <div class="item item-divider">
    I'm a Footer in a Card!
  </div>
</div>

<div class="card"ng-show="weaponshow">
  <div class="item item-divider">
    Weapons
  </div>
  <div class="item item-text-wrap">
    This is a basic Card with some text.
  </div>
  <div class="item item-divider">
    I'm a Footer in a Card!
  </div>
</div>
       

    </ion-content>
</ion-view>
