

<ion-header-bar class="bar-energized">
   <h1 class="title">New Item</h1>
</ion-header-bar>
<ion-content>
   <div class="card">
      <div class="item item-divider">
         Units
      </div>
      <div class="item item-text-wrap">
         <div class="list">

            <label class="item item-input">    <span class="input-label">Name</span>    <input type="text" ng-model="item.name">  </label>
            <label class="item item-input">    <span class="input-label">Points</span>    <input type="text" ng-model="item.points">  </label>
            <label class="item item-input">    <span class="input-label">Race</span>    <input type="text" ng-model="item.race">  </label>
            <label class="item item-input">    <span class="input-label">Type</span>    <input type="text" ng-model="item.type">  </label>
            <label class="item item-input">    <span class="input-label">Image</span>    <input type="text" ng-model="item.image">  </label>
            <label class="item item-input">    <span class="input-label">Rules</span>    <input type="text" ng-model="item.rules">  </label>
            <label class="item item-input">    <span class="input-label">Weapons</span>    <input type="text" ng-model="item.weapons">  </label>
            <label class="item item-input">    <span class="input-label">WS</span>    <input type="text" ng-model="item.ws">  </label>
            <label class="item item-input">    <span class="input-label">BS</span>    <input type="text" ng-model="item.bs">  </label>
            <label class="item item-input">    <span class="input-label">S</span>    <input type="text" ng-model="item.s">  </label>
            <label class="item item-input">    <span class="input-label">T</span>    <input type="text" ng-model="item.t">  </label>
            <label class="item item-input">    <span class="input-label">W</span>    <input type="text" ng-model="item.w">  </label>
            <label class="item item-input">    <span class="input-label">I</span>    <input type="text" ng-model="item.i">  </label>
            <label class="item item-input">    <span class="input-label">A</span>    <input type="text" ng-model="item.a">  </label>
            <label class="item item-input">    <span class="input-label">LD</span>    <input type="text" ng-model="item.ld">  </label>
            <label class="item item-input">    <span class="input-label">SV</span>    <input type="text" ng-model="item.sv">  </label>
            <label class="item item-input">    <span class="input-label">Front</span>    <input type="text" ng-model="item.front">  </label>
            <label class="item item-input">    <span class="input-label">Side</span>    <input type="text" ng-model="item.side">  </label>
            <label class="item item-input">    <span class="input-label">Rear</span>    <input type="text" ng-model="item.rear">  </label>
            <label class="item item-input">    <span class="input-label">Movement</span>    <input type="text" ng-model="item.movement">  </label>
         </div>
      </div>
      <div class="item item-divider">
         <button class="button button-full button-energized" ng-click="closeModal(item)">Done</button>
      </div>
   </div>
</ion-content>

