<ion-view view-title="Rule List">
    <ion-content>
        <label class="item item-input"> <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="filters" placeholder="Search"> </label>
        <div class="list list-inset" >
            <ion-item class="item" ng-repeat="rule in rules | filter:filters | orderBy:'name':!reverse " ng-filter="" type="item-text-wrap" ui-sref="tab.rules-detail({Id:rule._id})">
                <h2>{{rule.name}} - {{rule._id}}</h2> </ion-item>
        </div>
    </ion-content>
</ion-view>
