<ion-view view-title="Unit List">
    <ion-content>
        <label class="item item-input"> <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="filters.name" placeholder="Search"> </label>
        <label class="item item-input item-select">
            <div class="input-label"> Race </div>
            <select ng-model="filters.race">
                <option selected="selected" value=''>All</option>
                <option>Necron</option>
                <option>Blood Angel</option>
                <option>Black Templars</option>
            </select>
        </label>
        
        <div class="list list-inset" >


 <ion-list class="list list-inset">
  <ion-item class="item-avatar" ng-repeat="unit in units | filter:filters | orderBy:'name':!reverse" type="item-text-wrap" ui-sref="tab.units-detail({Id:unit._id})">
   <img ng-src="{{unit.image}}">
                <h2>{{unit.name}}</h2> 
                <p>{{unit.race}} {{unit.type}}</p>
    <ion-option-button class="button-positive" ng-click="openModal(unit)" >Edit</ion-option-button>
    <ion-option-button class="button-assertive" ng-click="unitDelete(unit)">Delete</ion-option-button>
  </ion-item>
</ion-list>
    <button class="button button-block button-positive" ng-click="openModal({})" >Add New</button>

        </div>
    </ion-content>
</ion-view>
