<ion-view view-title="Dashboard">
    <ion-content class="padding">

        <div class="list card">
            <div class="item item-divider">Recent Updates</div>
            <div class="item item-body">
                <div> Brand New WarBuddy App<br>
                	Use http://www.evg31337.com/json/ in settings!
                </div>
            </div>
        </div>
        <button class="button button-full button-dark icon ion-gear-a" icon="ion-ios7-gear" ng-click="openModal()"> Settings</button>
    </ion-content>
</ion-view>
