<ion-view view-title="Charts">
    <ion-content>
<div class="card">
  <div class="item item-divider">
    Chart Calculator
  </div>
  <div class="item item-text-wrap">
Attacker 
<br>
To Hit: Weapon Skill (WS)
<br>
To Wound: Weapon Strength (W)
<div class="item range">  1  <input type="range" name="attacker" ng-model="attacker" min="1" max="10" value="0" ng-change="calcstats(attacker,defender)">  10</div>
<div align="center"> {{attacker}}</div>

</div>
  <div class="item item-text-wrap">
<br>
Target
<br>
To Hit: Weapon Skill (WS)
<br>
To Wound: Toughness (T)
<div class="item range">  1  <input type="range" name="defender" ng-model="defender" min="1" max="10" value="0" ng-change="calcstats(attacker,defender)">  10</div>
<div align="center">{{defender}}</div>
  </div>


  <div class="item item-divider">

  	

    To Hit: {{tohitroll}}
    <br>
    To Wound: {{towoundroll}}
  </div>
</div>
 <!--      <ion-list> <img src="img/tohit.jpg" width="100%"> <img src="img/towound.jpg" width="100%"> </ion-list>  -->
    </ion-content>
</ion-view>
