<ion-view view-title="Charts">
    <ion-content>
<div class="card">
  <div class="item item-divider">
    Chart Calculator
  </div>
  <div class="item item-text-wrap">
Attacker 
<br>
To Hit: Weapon Skill (WS)
<br>
To Wound: Weapon Strength (W)
<div class="item range">  1  <input type="range" name="attacker" ng-model="attacker" min="1" max="10" value="0" ng-change="calcstats(attacker,defender)">  10</div>
<div align="center"> {{attacker}}</div>

</div>
  <div class="item item-text-wrap">
<br>
Target
<br>
To Hit: Weapon Skill (WS)
<br>
To Wound: Toughness (T)
<div class="item range">  1  <input type="range" name="defender" ng-model="defender" min="1" max="10" value="0" ng-change="calcstats(attacker,defender)">  10</div>
<div align="center">{{defender}}</div>
  </div>


  <div class="item item-divider">

  	

    To Hit: {{tohitroll}}
    <br>
    To Wound: {{towoundroll}}
  </div>
</div>
 <!--      <ion-list> <img src="img/tohit.jpg" width="100%"> <img src="img/towound.jpg" width="100%"> </ion-list>  -->
<br>Charging Gives +1 Bonus
<br>Can Only Choose 1 Save
<br>AP2 Ingores Armour Save
<br>AP2 pens give +1 on Vehicle Damage Table
<br>AP1 pens give +2 on Vehicle Damage Table
<hr><div align="center">
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;border-top-width:1px;border-bottom-width:1px;}
</style>

<h1>Run Stats</h1>
<table class="tg">
  <tr>
    <th class="tg-031e">Unit Type<br></th>
    <th class="tg-031e">Run,Turbo,Flat Out<br></th>
    <th class="tg-031e">Max Distance<br></th>
  </tr>
  <tr>
    <td class="tg-031e">Infantry, Artillery, Jump, Jet pack, Monsterous Creatures, Beast, Cavalry</td>
    <td class="tg-031e">Run</td>
    <td class="tg-031e">D6</td>
  </tr>
  <tr>
    <td class="tg-031e">Flying Monsterous Creatures<br></td>
    <td class="tg-031e">Run</td>
    <td class="tg-031e">2D6</td>
  </tr>
  <tr>
    <td class="tg-031e">Walkers</td>
    <td class="tg-031e">Run</td>
    <td class="tg-031e">D6</td>
  </tr>
  <tr>
    <td class="tg-031e">Bikes</td>
    <td class="tg-031e">Turbo</td>
    <td class="tg-031e">12</td>
  </tr>
  <tr>
    <td class="tg-031e">Jetbikes</td>
    <td class="tg-031e">Turbo<br></td>
    <td class="tg-031e">24</td>
  </tr>
  <tr>
    <td class="tg-031e">Eldar Jetbikes<br></td>
    <td class="tg-031e">Turbo</td>
    <td class="tg-031e">36</td>
  </tr>
  <tr>
    <td class="tg-031e">Fast<br></td>
    <td class="tg-031e">Flat Out<br></td>
    <td class="tg-031e">12</td>
  </tr>
  <tr>
    <td class="tg-031e">Fast Skimmer<br></td>
    <td class="tg-031e">Flat Out<br></td>
    <td class="tg-031e">18</td>
  </tr>
  <tr>
    <td class="tg-031e">Flyers<br></td>
    <td class="tg-031e">Flat Out<br></td>
    <td class="tg-031e">12 - 24<br></td>
  </tr>
  <tr>
    <td class="tg-031e">Other<br></td>
    <td class="tg-031e">Flat Out<br></td>
    <td class="tg-031e">12-24</td>
  </tr>
</table>
<br>All Units Charge 2D6
<hr>
<h1>Move Stats</h1>
<table class="tg">
  <tr>
    <th class="tg-031e">Unit Type<br></th>
    <th class="tg-031e">Move Distance<br></th>
  </tr>
  <tr>
    <td class="tg-031e">Infantry</td>
    <td class="tg-031e">0-6</td>
  </tr>
  <tr>
    <td class="tg-031e">Jump Units<br></td>
    <td class="tg-031e">0-12</td>
  </tr>
  <tr>
    <td class="tg-031e">Beasts</td>
    <td class="tg-031e">0-12</td>
  </tr>
  <tr>
    <td class="tg-031e">Cavalry</td>
    <td class="tg-031e">0-12</td>
  </tr>
  <tr>
    <td class="tg-031e">Bikes</td>
    <td class="tg-031e">0-12</td>
  </tr>
  <tr>
    <td class="tg-031e">Jetbike</td>
    <td class="tg-031e">0-12</td>
  </tr>
  <tr>
    <td class="tg-031e">Monsterous Creatures<br></td>
    <td class="tg-031e">0-6</td>
  </tr>
  <tr>
    <td class="tg-031e">Jet Pack Units<br></td>
    <td class="tg-031e">0-6</td>
  </tr>
  <tr>
    <td class="tg-031e">Skimmers</td>
    <td class="tg-031e">0-12</td>
  </tr>
  <tr>
    <td class="tg-031e">Walkers</td>
    <td class="tg-031e">0-6</td>
  </tr>
  <tr>
    <td class="tg-031e">Flyers</td>
    <td class="tg-031e">18-36</td>
  </tr>
  <tr>
    <td class="tg-031e">Flying Monsterous Creatures<br></td>
    <td class="tg-031e">12-24</td>
  </tr>
  <tr>
    <td class="tg-031e">other</td>
    <td class="tg-031e">0-12</td>
  </tr>
</table>
<hr>
<h1>Move And Shoot</h1>
<table class="tg">
  <tr>
    <th class="tg-031e">Weapon Type<br></th>
    <th class="tg-031e">Number of Shots<br></th>
    <th class="tg-031e">Snap Shots<br></th>
    <th class="tg-031e">Assault After<br></th>
  </tr>
  <tr>
    <td class="tg-031e">Assault</td>
    <td class="tg-031e">Full</td>
    <td class="tg-031e">No</td>
    <td class="tg-031e">Yes</td>
  </tr>
  <tr>
    <td class="tg-031e">Heavy</td>
    <td class="tg-031e">Full</td>
    <td class="tg-031e">Yes</td>
    <td class="tg-031e">No</td>
  </tr>
  <tr>
    <td class="tg-031e">Ordnance</td>
    <td class="tg-031e">None</td>
    <td class="tg-031e">n/a</td>
    <td class="tg-031e">No</td>
  </tr>
  <tr>
    <td class="tg-031e">Pistol</td>
    <td class="tg-031e">Full</td>
    <td class="tg-031e">No</td>
    <td class="tg-031e">Yes</td>
  </tr>
  <tr>
    <td class="tg-031e">Rapid Fire<br></td>
    <td class="tg-031e">Full</td>
    <td class="tg-031e">No</td>
    <td class="tg-031e">No</td>
  </tr>
  <tr>
    <td class="tg-031e">Salvo</td>
    <td class="tg-031e">Lower Value<br></td>
    <td class="tg-031e">No</td>
    <td class="tg-031e">No</td>
  </tr>
  <tr>
    <td class="tg-031e">Primary</td>
    <td class="tg-031e">Full</td>
    <td class="tg-031e">No</td>
    <td class="tg-031e">Yes</td>
  </tr>
</table>
<hr>
<h1>Move And Shoot (Vehicle)</h1>
<table class="tg">
  <tr>
    <th class="tg-031e">Vehicle Type<br></th>
    <th class="tg-031e">Stationary</th>
    <th class="tg-031e">Combat Speed<br></th>
    <th class="tg-031e">Cruising Speed<br></th>
  </tr>
  <tr>
    <td class="tg-031e">Walkers</td>
    <td class="tg-031e">All</td>
    <td class="tg-031e">All</td>
    <td class="tg-031e">n/a</td>
  </tr>
  <tr>
    <td class="tg-031e">Fast</td>
    <td class="tg-031e">All</td>
    <td class="tg-031e">All</td>
    <td class="tg-031e">2</td>
  </tr>
  <tr>
    <td class="tg-031e">Flyers</td>
    <td class="tg-031e">-</td>
    <td class="tg-031e">4</td>
    <td class="tg-031e">4</td>
  </tr>
  <tr>
    <td class="tg-031e">Other</td>
    <td class="tg-031e">All</td>
    <td class="tg-031e">1</td>
    <td class="tg-031e">0</td>
  </tr>
</table>
<hr>
<h1>Reserves</h1>
<table class="tg">
  <tr>
    <th class="tg-031e">Turn</th class="tg-031e">
    <th class="tg-031e">Units Arrive On<br></th class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">1</td class="tg-031e">
    <td class="tg-031e">n/a</td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">2</td class="tg-031e">
    <td class="tg-031e">4+</td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">3</td class="tg-031e">
    <td class="tg-031e">3+<br></td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">4</td class="tg-031e">
    <td class="tg-031e">2+</td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">5+</td class="tg-031e">
    <td class="tg-031e"></td class="tg-031e">
  </tr>
</table>
<hr>
<h1>Cover Chart</h1>
<table class="tg">
  <tr>
    <th class="tg-031e">Cover Type<br></th class="tg-031e">
    <th class="tg-031e">Save<br></th class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">Razor Wire, Wire Mesh<br></td class="tg-031e">
    <td class="tg-031e">6+<br></td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">High Grass, Crops, Bushes, Hedges, Fences<br></td class="tg-031e">
    <td class="tg-031e">5+<br></td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">Units, Trenches, Gun Pits, Tank Traps, Emplacements, Sandbags, Barricades, Logs, Pipes, Crates, Barrels, Hill Crests, Woods, Jungles, Wreckage, Craters, Rubble, Rocks, Ruins, Walls, Buildings, Wrecked Vehicles<br></td class="tg-031e">
    <td class="tg-031e">4+</td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">Fortifications<br></td class="tg-031e">
    <td class="tg-031e">3+</td class="tg-031e">
  </tr>
</table>
<hr>
<h1>Vehicle Damage Table</h1>
<table class="tg">
  <tr>
    <th class="tg-031e">D6<br></th class="tg-031e">
    <th class="tg-031e">Result<br></th class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">1-3<br></td class="tg-031e">
    <td class="tg-031e">Crew Shaken (Can only fire snapshots until end of th class="tg-031e"is turn)<br></td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">4<br></td class="tg-031e">
    <td class="tg-031e">Crew Stunned (Can only fire snapshots until end of th class="tg-031e"e next turn)</td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">5</td class="tg-031e">
    <td class="tg-031e">Weapon Destroyed (Random weapon is destroyed)<br></td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">6</td class="tg-031e">
    <td class="tg-031e">Immobilised (Cannot move)<br></td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">7+</td class="tg-031e">
    <td class="tg-031e"></td class="tg-031e">
  </tr>
</table >
<hr>
<h1>Vehicle Damage Modifier</h1>
<table class="tg">
  <tr>
    <th class="tg-031e">Modifier</th class="tg-031e">
    <th class="tg-031e">Value<br></th class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">Glancing Hit<br></td class="tg-031e">
    <td class="tg-031e">-2<br></td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">Hit by AP -<br></td class="tg-031e">
    <td class="tg-031e">-1</td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">Hit by AP 1<br></td class="tg-031e">
    <td class="tg-031e">+2<br></td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">Hit by AP 2<br></td class="tg-031e">
    <td class="tg-031e">+1<br></td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">Open-Topped Target<br></td class="tg-031e">
    <td class="tg-031e">Explodes!<br></td class="tg-031e">
  </tr>
</table>
<hr>
<h1>Deepstrike Mishap</h1>
<table class="tg">
  <tr>
    <th class="tg-031e">D6<br></th class="tg-031e">
    <th class="tg-031e">Effect<br></th class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">1-2<br></td class="tg-031e">
    <td class="tg-031e">Entire Unit Destroyed<br></td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">3-4</td class="tg-031e">
    <td class="tg-031e">Opponent may choose location<br></td class="tg-031e">
  </tr>
  <tr>
    <td class="tg-031e">5-6</td class="tg-031e">
    <td class="tg-031e">Delayed. Unit is put into reserves<br></td class="tg-031e">
  </tr>
</table>
<hr>
<h1>Citadel Paint Chart</h1>
<img width="100%" src="img/GWPC.jpg"></img>

    </div></ion-content>
</ion-view>
