<ion-tabs class="tabs-icon-top tabs-top tabs-color-active-positive">
    <!-- Dashboard Tab -->
    <ion-tab title="Home" icon-off="ion-ios7-home-outline" icon-on="ion-ios7-home" ui-sref="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <!-- Chats Tab -->
    <ion-tab title="Charts" icon-off="ion-ios7-calculator-outline" icon-on="ion-ios7-calculator" ui-sref="tab.charts">
        <ion-nav-view name="tab-charts"></ion-nav-view>
    </ion-tab>
    <!-- Friends Tab -->
    <ion-tab title="Armies" icon-off="ion-ios7-people-outline" icon-on="ion-ios7-people" ui-sref="tab.units">
        <ion-nav-view name="tab-units"></ion-nav-view>
    </ion-tab>
    <!-- Account Tab -->
    <ion-tab title="Rules" icon-off="ion-ios7-paper-outline" icon-on="ion-ios7-paper" ui-sref="tab.rules">
        <ion-nav-view name="tab-rules"></ion-nav-view>
    </ion-tab>
    <!-- Account Tab -->
    <ion-tab title="Weapons" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" ui-sref="tab.weapons">
        <ion-nav-view name="tab-weapons"></ion-nav-view>
    </ion-tab>
        <!-- Account Tab -->
    <ion-tab title="Add" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" ui-sref="tab.add">
        <ion-nav-view name="tab-add"></ion-nav-view>
    </ion-tab>
</ion-tabs>
