<style type="text/css" media="screen">


table tr{
border:1px solid #D4D4D4;
}
</style>

<ion-view view-title="Units">
    <ion-content class="padding">




         <div class="card">
         <!--  <br>
          <div align="center">
          <img src="{{unit.image}}" width="128px",height="128px">
            </div>
            <br> -->
            <div class="item item-divider"><h1>{{unit.name}}</h1>
              Race: {{unit.race}}</p><p>Type: {{unit.type}}<p>Points: {{unit.points}}</p>
        



    </div>

<table border="1">
          <tr><th>Stat</th><th>Value</th></tr>
          <tr><td>WS</td><td>{{unit.ws}}</td></tr>
          <tr><td>BS</td><td>{{unit.bs}}</td></tr>
          <tr><td>S</td><td>{{unit.s}}</td></tr>
          <tr><td>T</td><td>{{unit.t}}</td></tr>
          <tr><td>W</td><td>{{unit.w}}</td></tr>
          <tr><td>I</td><td>{{unit.i}}</td></tr>
          <tr><td>A</td><td>{{unit.a}}</td></tr>
          <tr><td>LD</td><td>{{unit.ld}}</td></tr>
          <tr><td>SV</td><td>{{unit.sv}}</td></tr> 
          <tr><td>&nbsp</td><td></td>&nbsp</tr>
          <tr><td>Front</td><td>{{unit.front}}</td></tr>
          <tr><td>Side</td><td>{{unit.side}}</td></tr>
          <tr><td>Rear</td><td>{{unit.rear}}</td></tr>
          <tr><td>HP</td><td>{{unit.hp}}</td></tr> 
 </table>

 Rules: {{unit.rules}}<br>
 Weapons: {{unit.weapons}}

<br>
</div>
        </div>
<h1 align="center">Weapons</h1>
        <div class="card" ng-repeat="weapon in weaponList">
            <!-- <a href="#/tab/rules/{{rule.id}}"> -->
            <div class="item item-divider"> {{weapon.name}} </div>
            </a>
            <div class="item item-text-wrap">
                <h3>Name: {{weapon.name}}</h3>
                <h3>Description: {{weapon.description}}</h3>
                <h3>Range: {{weapon.range}}</h3>
                <h3>Strength: {{weapon.strength}}</h3>
                <h3>AP: {{weapon.ap}}</h3>
                <h3>Type: {{weapon.type}}  {{weapon.attacks}}</h3>
                <h3>Rules: {{weapon.rules}}</h3> </div>
        </div> 
        <h1 align="center">Rules</h1>
        <div class="card" ng-repeat="rule in ruleList">
            <!-- <a href="#/tab/rules/{{rule.id}}"> -->
            <div class="item item-divider"> {{rule.name}} </div>
            </a>
            <div class="item item-text-wrap"> <span ng-bind-html="rule.description"></span> </div>
        </div>


    </ion-content>
</ion-view>

  <style type="text/css">

td {
    text-align: center;
    width:6.66%;

}

table{
    width:100%;
    margin-left:auto; 
    margin-right:auto;
    border: 2px solid #d4d4d4;
}
  </style>


 