<ion-view view-title="Units">
    <ion-content class="padding">




         <div class="card">
            <div class="item item-divider"><h1>{{unit.name}}</h1>
            <div class="item item-avatar" href="#">
      <img ng-src="{{unit.image}}" style="width: 64px; height: 64px">
<div class="row">

  <div class="col"><p>Race: {{unit.race}}</p><p>Type: {{unit.type}}</p></div>
  <div class="col" align="right"><p>Points: {{unit.points}}</p></div>
</div>


    </div><br>

<table>
  <tr>
    <td>WS</td><td>BS</td><td>S</td><td>T</td><td>W</td><td>I</td><td>A</td><td>LD</td><td>SV</td> <td>  </td> <td>BS</td><td>Front</td><td>Side</td><td>Rear</td><td>HP</td>
  </tr>
  <tr>
    <td>{{unit.ws}}</td><td>{{unit.bs}}</td><td>{{unit.s}}</td><td>{{unit.t}}</td><td>{{unit.w}}</td><td>{{unit.i}}</td><td>{{unit.a}}</td><td>{{unit.ld}}</td><td>{{unit.sv}}</td> <td>  </td> <td>{{unit.bs}}</td><td>{{unit.front}}</td><td>{{unit.side}}</td><td>{{unit.rear}}</td><td>{{unit.w}}</td>
  </tr>
</table> 
<br>
{{unit.move}}
<br><br>
Rules: {{unit.rules}}
<br>
Weapons: {{unit.weapons}}
<br></div>
        </div>
<h1 align="center">Weapons</h1>
        <div class="card" ng-repeat="weapon in weaponList">
            <!-- <a href="#/tab/rules/{{rule.id}}"> -->
            <div class="item item-divider"> {{weapon.name}} </div>
            </a>
            <div class="item item-text-wrap">
                <h3>Name: {{weapon.name}}</h3>
                <h3>Range: {{weapon.range}}</h3>
                <h3>Strength: {{weapon.strength}}</h3>
                <h3>AP: {{weapon.ap}}</h3>
                <h3>Type: {{weapon.type}}  {{weapon.attacks}}</h3>
                <h3>Rules: {{weapon.rules}}</h3> </div>
        </div> 
        <h1 align="center">Rules</h1>
        <div class="card" ng-repeat="rule in ruleList">
            <!-- <a href="#/tab/rules/{{rule.id}}"> -->
            <div class="item item-divider"> {{rule.name}} </div>
            </a>
            <div class="item item-text-wrap"> <span ng-bind-html="rule.description"></span> </div>
        </div>


    </ion-content>
</ion-view>

  <style type="text/css">

td {
    text-align: center;
    width:6.66%;

}

table{
    width:100%;
    margin-left:auto; 
    margin-right:auto;
    border: 2px solid #d4d4d4;
}
  </style>


 