<ion-view view-title="Weapon">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider"> {{weapon.name}} </div>
            </a>
            <div class="item item-text-wrap"> <span>
                <h3>Range: {{weapon.range}}</h3>
                <h3>Strength: {{weapon.strength}}</h3>
                <h3>AP: {{weapon.ap}}</h3>
                <h3>Type: {{weapon.type}} {{weapon.attacks}}</h3>
                <h3>Rules: {{weapon.rules}}</h3> </div>
            </span> </div>
        </div>
        <h1 align="center">Rules</h1>
        <div class="card" ng-repeat="rule in ruleList">
            <!-- <a href="#/tab/rules/{{rule.id}}"> -->
            <div class="item item-divider"> {{rule.name}} </div>
            </a>
            <div class="item item-text-wrap"> <span ng-bind-html="rule.description"></span> </div>
        </div>
    </ion-content>
</ion-view>


